* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter
}

body {
  font-family: inter;
  width: 80%;
  margin: 0 auto;
  background: #FCFDFD;
}

/* feed */
.head__text {
  margin-top: 5px;
}

.feed {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* post */
.post {
  max-width: 500px;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.post__image {
    max-width: 300px;
    height: auto;
}

.post__title {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.post__desc {
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  padding-bottom: 10px;
}

.post__user {
  margin-right: 10px;
  color: #003B70;
  font-style: italic;
}

.post__date {
  display: inline-block;
  margin-top: 10px;
  color: rgb(122, 122, 122);
}
